{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

<!-- <h1>What's Your Name?</h1> -->

{% if email %}
    <!-- <h1>Email:    {{ email }}</h1>
    <h1>Password: {{ password }}</h1>
    <br/> -->
    <h1>Email:    {{ email }}</h1>
    <h1>Password: {{ password }}</h1>
    <br/>
    <h2>I found this Information:</h2>
    Name: {{ pw_to_check.name }} <br/>
    Email: {{ pw_to_check.email }} <br/>
    PW: {{ pw_to_check.password_hash }} <br/>
    Passed: {{ passed }}

    <!-- <img src = "{{ url_for('static', filename='images/image_1.png')}}" >
    <br/><br/>

    <p id="demo"> This is stuff...</p>   -->
    <!-- now added the content in demo id; by using js -->

<!-- <script src="{{ url_for('static', filename='js/myfile.js')}}"></script> -->

{% else %}
    <h1>What's your Email and Password?</h1>
    <br/>
    <form method = "POST">
        {{ form.hidden_tag() }}
        <!-- This will create a csrf token -->
        
        {{ form.email.label(class="form-label") }} 
        {{ form.email(class="form-control")}}<br/>
        
        {{ form.password_hash.label(class="form-label") }} 
        {{ form.password_hash(class="form-control")}}<br/>

        {{ form.submit(class="btn btn-secondary")}}
        <!-- These are bootstrap classes -->

    </form>
    

{% endif %}

{% endblock %}